.devise_form
  %h2 エディット
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    .field
      .field__key
        = f.label "名前"
      .field__value
        = f.text_field :name, autofocus: true, autocomplete: "name", maxlength: "20",class:"input_field",placeholder:"たろう"
    .error_show    
      = resource.errors.full_messages_for(:name)[0]
    .field
      .field__key
        = f.label "スラック"
      .field__value
        = f.text_field :slack, autofocus: true, autocomplete: "slack",maxlength: "20",class:"input_field",placeholder:"taro_yamada"
    .error_show
      = resource.errors.full_messages_for(:slack)[0]
    .field
      .field__key
        = f.label "期"
      .field__value
        = f.number_field :period, autofocus: true, autocomplete: "period",min:"50",max: "100",class:"input_field",placeholder:"60"
    .error_show
      - if resource.errors.full_messages_for(:period)[0]
        あなたの所属する期を半角数字で入力してください。
    .field
      .field__key
        = f.label "学習スタイル"
      .field__value
        = f.select :style, [["選択してください", 0],["短期", 1],["夜間", 2]]
    .error_show
      - if resource.errors.full_messages_for(:style)[0]
        学習スタイルを選択してください
    .field
      .field__key
        = f.label "チーム名"
      .field__value
        = f.select :team_id, [["選択してください", 0],["A", 1],["B", 2],["C", 3],["D", 4],["E", 5],["F", 6],["G", 7],["H", 8],["I", 9],["J", 10],["K", 11],["L", 12],["M", 13],["N", 14],["O", 15],["P", 16],["Q", 17],["R", 18],["S", 19],["T", 20],["U", 21],["V", 22],["W", 23],["X", 24],["Y", 25],["Z", 26]]
    .error_show
      - if resource.errors.full_messages_for(:team_id)[0]
        チーム名を選択してください。
    .field
      .field__key
        = f.label "Eメール"
      .field__value
        = f.email_field :email, autofocus: true, autocomplete: "email",class:"input_field",placeholder:"exampl@gmail.com"
    .error_show
      = resource.errors.full_messages_for(:email)[0]
    .field
      .field__key
        = f.label "パスワード"
      .field__value
        = f.password_field :password, autocomplete: "new-password",class:"input_field"
    .error_show
      = resource.errors.full_messages_for(:password)[0]
    %p 
      ※英数字含む８文字以上
    .field
      .field__key
        = f.label "パスワード"
      .field__value
        = f.password_field :password_confirmation, autocomplete: "new-password",class:"input_field",placeholder:"（確認用）"
    .error_show
      = resource.errors.full_messages_for(:password_confirmation)[0]
    .actions
      = f.submit "Update"
　　#{button_to "アカウントを抹消する", registration_path(resource_name), data: { confirm: "本当に抹消しますか?" }, method: :delete}

