.mypage
  .mypage__inner
    .mypage__inner__header
      .mypage__inner__header__topic-id
        fitO_id:
        .mypage__inner__header__topic-id__value
          = "#{current_user.id}"
      .mypage__inner__header__topic
        name:
        .mypage__inner__header__topic__value
          = "#{current_user.name}"
      .mypage__inner__header__topic
        slack:
        .mypage__inner__header__topic__value
          = "#{current_user.slack}"
    .mypage__inner__output-times
      %p
        Output times  : 
      .mypage__inner__output-times__value
        = "#{current_user.output_times}"
    .mypage__inner__tabs
      .mypage__inner__tabs__tab{data: {target: "1"}}
        質問一覧
      .mypage__inner__tabs__tab{data: {target: "2"}}
        教えます一覧
      .mypage__inner__tabs__tab{data: {target: "3"}}
        fitO
    .history_btns
      .history_btn
        = link_to "input履歴" ,history_input_users_path
      .history_btn
        = link_to "Output履歴",history_output_users_path
.post_all
  .post_all_inner.none{data: {target: "1"}}
    - @my_input_posts.each do |post|
      .one_post
        = link_to "",myshow_post_path(post.id)
        .one_post__title
          - case post.lesson.base_or_development
            - when 0 then
              = "基礎"
            - when 1 then
              = "応用"
            - when 2 then
              = "最終"
          = "lesson:#{post.lesson.lesson_no}"
          = post.lesson.title
        .one_post__title
          = post.title
          = "[id:#{post.id}]"
        .one_post__content
          = toc(post.content) 
          = markdown(post.content)

  .post_all_inner.none{data: {target: "2"}}
    - @my_output_posts.each do |post|
      .one_post
        = link_to "",myshow_post_path(post.id)
        .one_post__title
          - case post.lesson.base_or_development
            - when 0 then
              = "基礎"
            - when 1 then
              = "応用"
            - when 2 then
              = "最終"
          = "lesson:#{post.lesson.lesson_no}"
          = post.lesson.title
        .one_post__title
          = post.title
          = "[id:#{post.id}]"
        .one_post__content
          = toc(post.content) 
          = markdown(post.content)

  .post_all_inner.none{data: {target: "3"}}
    - @my_clear_posts.each do |post|
      .one_post
        = link_to "",myshow_post_path(post.id)
        .one_post__title
          - case post.lesson.base_or_development
            - when 0 then
              = "基礎"
            - when 1 then
              = "応用"
            - when 2 then
              = "最終"
          = "lesson:#{post.lesson.lesson_no}"
          = post.lesson.title
          = "[id:#{post.id}]"
        .one_post__title
          = post.title
        .one_post__content
          = toc(post.content) 
          = markdown(post.content)

  .hint-box.none
    .cancel
      close
    .hint-inner
      .hint-title
        ●ヘッダー
      .hint-content
        %p
          ○[on]・・・出席したらoffボタンをクリックしてください。(あなたの投稿に「出席中」が明示されます。)
        %p
          ○[マイページ]・・・投稿中の掲示板や、過去の履歴が確認できます。
        %p
          ○[ランキング]・・・アウトプット回数のランキングを見ることができます。
        %p
          ○[エディット]・・・ユーザー情報の変更ができます。
        %p
          ○[ログアウト]・・・ログアウトします。
      .hint-title
        ●コンテンツ
        .hint-content
          %p
            ○[input履歴]・・・インプットした履歴が確認できます。
          %p
            ○[output履歴]・・・アウトプットした履歴が確認できます。
          %p
            ○[output times]・・・アウトプットした回数が表示されます。
          %p
            ○[質問一覧]・・・ 現在投稿中の質問が確認できます。また、教えてもらった場合は、詳細表示から、教えてもらった人のidを入力してください。（そうすることで、教えてもらった人のアウトプット回数が計上されます。）
          %p
            ○[教えます一覧]・・・現在投稿中の「教えます」一覧が確認できます。
          %p
            ○[fitO]・・・アウトプット済の投稿が確認できます。
