-# ===================================
-# 質問投稿フォーム
-# ===================================
.post_form#mark_down
  .form
    = form_with model: @post, url: {controller: 'input_posts', action: 'create' },local: true do |f|
      .form__title
        = f.text_field :title, placeholder: "タイトル（質問したいこと）",class: "title_field"
      .form__content
        = f.text_area :content, placeholder: "マークダウン記法を用いてコードブロックを挿入することができます。画像を投稿する場合はgyazoのURLを貼り付けてください。",class: "content_field"
        = f.hidden_field :lesson_id, value: params[:lesson_id]
        = f.hidden_field :start_input_or_output, value: 0
      .form__btns
        .preview_btn
          プレビュー
        = f.submit

.post_form#preview.hidden
  .form
    .form__title
      .title_field#preview_title
        プレビュー表示中
    .form__content
      .content_field#preview_content
    .form__btns
      #md_btn
        記入する

