
-# ===================================
-# 質問全て（基礎）
-# ===================================
.post_all
  .post_all_inner
    koko
    - @all_input_posts_of_lesson_base.each do |post|
      .one_post
        = link_to "",post_path(post[0].id)
        .one_post__title
          = post[0].title
          = "[id:#{post[0].id}]"
        .one_post__content
          = toc(post[0].content) 
          = markdown(post[0].content)
        - if post[0].input_user_id == current_user.id  # 自分の質問投稿の場合
          .your_display
            これはあなたの投稿です。
        - if post[0].input_user_id? && User.exists?(id: post[0].input_user_id)
          - if post[0].input_user.on_off == 1
            .on_off_dispry
              出席中 
        - else
          .on_off_dispry
            退会済
  .hint-box.none
    .cancel
      close
    .hint-inner
      .hint-title
        ●ヘッダー
      .hint-content
        %p
          ○[on]・・・出席したらoffボタンをクリックしてください。(あなたの投稿に「出席中」が明示されます。)
        %p
          ○[マイページ]・・・投稿中の掲示板や、過去の履歴が確認できます。
        %p
          ○[ランキング]・・・アウトプット回数のランキングを見ることができます。
        %p
          ○[エディット]・・・ユーザー情報の変更ができます。
        %p
          ○[ログアウト]・・・ログアウトします。
      .hint-title
        ●コンテンツ
        .hint-content
          %p
            ○[詳細を確認する]・・・一覧から、クリックするとその投稿の詳細が確認できます。
          %p
            ○[掲示板から教える]・・・自分が教えたい内容と同様の投稿があれば、スラックで投稿者に連絡をとり、アウトプットしてください。
          %p
            ○[「教えます」を投稿する]・・・自分が教えたい内容と同様の投稿がなければ、右下の「教えますを投稿する」ボタンをクリックしてください。
          %p
            ○[表示について]・・・ 自分の投稿及び投稿者が出席中の場合は、その旨が一覧に表示されます。