%p
教えたい
%p
基礎
lesson1
- @base1.each do |lesson|
  .title
    = link_to"#{lesson.title}",inputs_lesson_path(lesson.id)
lesson2
- @base2.each do |lesson|
  .title
    = link_to "#{lesson.title}",inputs_lesson_path(lesson.id)
lesson3
- @base3.each do |lesson|
  .title
    = link_to"#{lesson.title}",inputs_lesson_path(lesson.id)
lesson4
- @base4.each do |lesson|
  .title
    = link_to"#{lesson.title}",inputs_lesson_path(lesson.id)
lesson5
- @base5.each do |lesson|
  .title
    = link_to"#{lesson.title}",inputs_lesson_path(lesson.id)
lesson6
- @base6.each do |lesson|
  .title
    = link_to"#{lesson.title}",inputs_lesson_path(lesson.id)
lesson7
- @base7.each do |lesson|
  .title
    = link_to"#{lesson.title}",inputs_lesson_path(lesson.id)
lesson8
- @base8.each do |lesson|
  .title
    = link_to"#{lesson.title}",inputs_lesson_path(lesson.id)
lesson9
- @base9.each do |lesson|
  .title
    = link_to"#{lesson.title}",inputs_lesson_path(lesson.id)

%p
応用
lesson1
- @development1.each do |lesson|
  .title
    = link_to"#{lesson.title}",inputs_lesson_path(lesson.id)

%p
最終
- @last_task.each do |lesson|
  .title
    = link_to"#{lesson.title}",inputs_lesson_path(lesson.id)
%p
%p
.know
知りたい---------------------------------------------------------
%p
基礎
lesson1
- @base1.each do |lesson|
  .title
    = link_to"#{lesson.title}",outputs_lesson_path(lesson.id)
lesson2
- @base2.each do |lesson|
  .title
    = link_to "#{lesson.title}",outputs_lesson_path(lesson.id)
lesson3
- @base3.each do |lesson|
  .title
    = link_to"#{lesson.title}",outputs_lesson_path(lesson.id)
lesson4
- @base4.each do |lesson|
  .title
    = link_to"#{lesson.title}",outputs_lesson_path(lesson.id)
%p
応用
%p
最終