.lesson_box
  .TABS
    .first_tab#outputer_first_tab
      教える
    .first_tab#intputer_first_tab
      質問する
  .TABS.second_tabs#outputer_second_tabs.none
    .second_tab{data: {target: "1"}}
      基礎
    .second_tab{data: {target: "2"}}
      応用
    .second_tab{data: {target: "3"}}
      最終課題
  .TABS.second_tabs#inputer_second_tabs.none
    .second_tab{data: {target: "4"}}
      基礎
    .second_tab{data: {target: "5"}}
      応用
    .second_tab{data: {target: "6"}}
      最終課題
  -# ===================================
  -# lessonタブを作成
  -# ===================================
  .TABS.number_tabs.none{data: {target: "1"}}
    - i = 1
    - n = 101
    - while i < 10 do
      .third_tab
        = link_to "#{i}","#lesson#{n}"
      - i += 1
      - n += 1

  .TABS.number_tabs.none{data: {target: "2"}}
    - i = 1
    - n = 201
    - while i < 15 do
      .third_tab
        = link_to "#{i}","#lesson#{n}"
      - i += 1
      - n += 1

  .TABS.number_tabs.none{data: {target: "4"}}
    - i = 1
    - n = 401
    - while i < 10 do
      .third_tab
        = link_to "#{i}","#lesson#{n}"
      - i += 1
      - n += 1

  .TABS.number_tabs.none{data: {target: "5"}}
    - i = 1
    - n = 501
    - while i < 15 do
      .third_tab
        = link_to "#{i}","#lesson#{n}"
      - i += 1
      - n += 1
    -# ===================================
    -# レッスン一覧を6通り作成
    -# ===================================
    -# ===================================
    -# 質問一覧
    -# ===================================  
  .lists.none{data: {target: "1"}}
    - i = 1
    - n = 101
    - @bases.each do |base|
      - total = 0
      .lesson_lists{id: "lesson#{n}"}
        .lesson_no
          = "lesson #{i}"
        - base.each do |lesson|
          .lesson_lists__one
            .lesson_lists__one__title
              = link_to"#{lesson.title}",inputs_lesson_path(lesson.id)
            .lesson_lists__one__number
              = "投稿数：#{lesson.posts.where(input_or_output:0).length}"
              - total += lesson.posts.where(input_or_output:0).length
        .lesson_lists__one
          .lesson_lists__one__title
            = link_to"全て見る(lesson:#{i})",all_inputs_of_base_lesson_path(i)
          .lesson_lists__one__number
            = "投稿数：#{total}"
      - i += 1
      - n += 1

  .lists.none{data: {target: "2"}}
    - i = 1
    - n = 201
    - @developments.each do |development|
      - total = 0
      .lesson_lists{id: "lesson#{n}"}
        .lesson_no
          = "lesson #{i}"
        - development.each do |lesson|
          .lesson_lists__one
            .lesson_lists__one__title
              = link_to"#{lesson.title}",inputs_lesson_path(lesson.id)
            .lesson_lists__one__number
              = "投稿数：#{lesson.posts.where(input_or_output:0).length}"
              - total += lesson.posts.where(input_or_output:0).length
        .lesson_lists__one
          .lesson_lists__one__title
            = link_to"全て見る(lesson:#{i})",all_inputs_of_development_lesson_path(i)
          .lesson_lists__one__number
            = "投稿数：#{total}"
      - i += 1
      - n += 1

  .lists.none{data: {target: "3"}}
    .lesson_lists
      .lesson_no
        最終課題
      - total = 0
      - @last_task.each do |lesson|
        .lesson_lists__one
          .lesson_lists__one__title
            = link_to"#{lesson.title}",inputs_lesson_path(lesson.id)
          .lesson_lists__one__number
            = "投稿数：#{lesson.posts.where(input_or_output:0).length}"
            - total += lesson.posts.where(input_or_output:0).length
      .lesson_lists__one
        .lesson_lists__one__title
          = link_to"全て見る(lesson:#{i})",all_input_of_lasttask_lesson_path(1)
        .lesson_lists__one__number
          = "投稿数：#{total}"
    -# ===================================
    -# 教えます一覧
    -# ===================================  
      
  .lists.none{data: {target: "4"}}
    - i = 1
    - n = 401
    - @bases.each do |base|
      - total = 0
      .lesson_lists{id: "lesson#{n}"}
        .lesson_no
          = "lesson #{i}"
        - base.each do |lesson|
          .lesson_lists__one
            .lesson_lists__one__title
              = link_to"#{lesson.title}",outputs_lesson_path(lesson.id)
            .lesson_lists__one__number
              = "投稿数：#{lesson.posts.where(input_or_output:1).length}"
              - total += lesson.posts.where(input_or_output:1).length
        .lesson_lists__one
          .lesson_lists__one__title
            = link_to"全て見る",all_outputs_of_base_lesson_path(i)
          .lesson_lists__one__number
            = "投稿数：#{total}"
      - i += 1
      - n += 1

  .lists.none{data: {target: "5"}}
    - i = 1
    - n = 501
    - @developments.each do |development|
      - total = 0
      .lesson_lists{id: "lesson#{n}"}
        .lesson_no
          = "lesson #{i}"
        - development.each do |lesson|
          .lesson_lists__one
            .lesson_lists__one__title
              = link_to"#{lesson.title}",outputs_lesson_path(lesson.id)
            .lesson_lists__one__number
              = "投稿数：#{lesson.posts.where(input_or_output:1).length}"
              - total += lesson.posts.where(input_or_output:1).length
        .lesson_lists__one
          .lesson_lists__one__title
            = link_to"全て見る",all_outputs_of_development_lesson_path(i)
          .lesson_lists__one__number
            = "投稿数：#{total}"
      - i += 1
      - n += 1

  .lists.none{data: {target: "6"}}
    .lesson_lists{id: "lesson#{i}"}
      .lesson_no
        最終課題
      - total = 0
      - @last_task.each do |lesson|
        .lesson_lists__one
          .lesson_lists__one__title
            = link_to"#{lesson.title}",outputs_lesson_path(lesson.id)
          .lesson_lists__one__number
            = "投稿数：#{lesson.posts.where(input_or_output:1).length}"
            - total += lesson.posts.where(input_or_output:1).length
      .lesson_lists__one
        .lesson_lists__one__title
          = link_to"全て見る",all_output_of_lasttask_lesson_path(1)
        .lesson_lists__one__number
          = "投稿数：#{total}"
  
　 -# ===================================
  -# ヒント
  -# ===================================
  .hint-box.none
    .cancel
      close
    .hint-inner
      .hint-title
        ●ヘッダー
      .hint-content
        %p
          ○[on]・・・出席したらoffボタンをクリックしてください。(あなたの投稿に「出席中」が明示されます。)
        %p
          ○[マイページ]・・・投稿中の掲示板や、過去の履歴が確認できます。
        %p
          ○[ランキング]・・・アウトプット回数のランキングを見ることができます。
        %p
          ○[エディット]・・・ユーザー情報の変更ができます。
        %p
          ○[ログアウト]・・・ログアウトします。
      .hint-title
        ●コンテンツ
        .hint-content
          %p
            ○[教える場合]・・・タブで教えるをクリックし、区分、lessonを選択し、「質問」一覧を確認してください。
          %p
            ○[質問する場合]・・・タブで教えるをクリックし、区分、lessonを選択し、「教えます」一覧を確認してください。
          %p
            レッスン番号タブをクリックすると当該レッスンの位置までスクロールします。  