.lesson_box
  .TABS
    .first_tab#input_tab
      教える
    .first_tab#output_tab
      質問する
  .TABS
    .second_tab
      基礎
    .second_tab
      応用
    .second_tab
      最終課題
  .TABS.none
    .second_tab
      基礎
    .second_tab
      応用
    .second_tab
      最終課題
  -# ===================================
  -# lessonタブを作成
  -# ===================================
  .TABS
    - i = 1
    - while i < 15 do
      .third_tab
        = link_to "#{i}","#lesson#{i}"
      - i += 1
    -# ===================================
    -# レッスン一覧を6通り作成
    -# ===================================
    -# ===================================
    -# 質問一覧
    -# ===================================  
  #input_base
    - i = 1
    - @bases.each do |base|
      .lesson_lists{id: "lesson#{i}"}
        .lesson_no
          = "lesson #{i}"
        - base.each do |lesson|
          .lesson_lists__one
            .lesson_lists__one__title
              = link_to"#{lesson.title}",inputs_lesson_path(lesson.id)
            .lesson_lists__one__number
              = "投稿数：#{lesson.posts.where(input_or_output:0).length}"
      - i += 1

  #input_development
    - i = 1
    - @developments.each do |development|
      .lesson_lists{id: "lesson#{i}"}
        .lesson_no
          = "lesson #{i}"
        - development.each do |lesson|
          .lesson_lists__one
            .lesson_lists__one__title
              = link_to"#{lesson.title}",inputs_lesson_path(lesson.id)
            .lesson_lists__one__number
              = "投稿数：#{lesson.posts.where(input_or_output:0).length}"
      - i += 1

  #input_last_task
    .lesson_lists
      .lesson_no
        最終課題
      - @last_task.each do |lesson|
        .lesson_lists__one
          .lesson_lists__one__title
            = link_to"#{lesson.title}",inputs_lesson_path(lesson.id)
          .lesson_lists__one__number
            = "投稿数：#{lesson.posts.where(input_or_output:0).length}"
      