-# ===================================
-# 教えます一覧
-# ===================================
.post_all
  .post_all_inner
    .categoly
      =  "教えます一覧  ＞  #{@category}  ＞  LESSON.#{@lesson.lesson_no} ＞ #{@lesson.title}"
    - @output_posts.each do |post|
      .one_post
        = link_to "",post_path(post.id)
        .one_post__title
          = post.title
        .one_post__content
          = toc(post.content) 
          = markdown(post.content)
        - if post.next_output_user_id == current_user.id  # 自分の教えます投稿の場合
          .your_display
            これはあなたの投稿です。
    .create_btn
      = link_to "「質問」を投稿する",new_lesson_input_post_path(@lesson.id)
    