.devise_form
  %h2 ログイン
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      .field__key
        = f.label "Eメール"
      .field__value
        = f.email_field :email, autofocus: true, autocomplete: "email",class:"input_field",placeholder:"exampl@gmail.com"
    .error_show
      = resource.errors.full_messages_for(:email)[0]
    .field
      .field__key
        = f.label "パスワード"
      .field__value
        = f.password_field :password, autocomplete: "new-password",class:"input_field"
    .error_show
      = resource.errors.full_messages_for(:password)[0]
    %p 
      ※英数字含む８文字以上
    .actions
      = f.submit "Log in"
    .actions
      = link_to "パスワードを忘れた場合",new_user_password_path
