-# ===================================
-# 投稿詳細
-# ==================================
.post_form#preview
  .form
    .form__title
      .title_field
        = @post.title
    .form__content
      .content_field
        = toc(@post.content) 
        = markdown(@post.content)
    .form__btns
      .slack_display
        = "Slack      :     #{@slack}"
