-# ===================================
-# 投稿詳細
-# ==================================
.post_form#preview
  .form
    .form__title
      .title_field
        = @post.title
        = "[id:#{@post.id}]"
    .form__content
      .content_field
        = toc(@post.content) 
        = markdown(@post.content)
    .form__btns
      .slack_display
        = "Slack      :     #{@slack}"

    -# ==================================
    -# 教えますの場合、名前入力箇所
    -# ==================================

    - if @post.next_output_user_id == current_user.id 
    - else
      - if @post.input_or_output == 1 
        - if @post.next_output_user_id? && User.exists?(id: @post.next_output_user_id)
          .thanks_for_outputer
            = form_with model: @post, url: {controller: 'posts', action: 'update'},local: true do |f|
              .form__title
                = f.number_field :outputer_id , placeholder: "教えてもらった人のidを入力してください"
                = f.submit "THANKS"
        - else
          .thanks_for_outputer
            ユーザーが退会しました。