-# ===================================
-# めも表示
-# ==================================
.post_form#preview
  .form
    .form__title
      .title_field
        = "メモ作成者：#{@memo.user.name}"
    .form__content
      .content_field
        = toc(@memo.content) 
        = markdown(@memo.content)
      .edit_destroy_btns
        .edit_btn
          = link_to "編集", edit_memo_path(@memo.id),method: :get

