-# ===================================
-# めも表示
-# ==================================
.post_form#preview
  .form
    .form__title
      .title_field
        = "メモ作成者：#{@memo.user.name}"
    .form__content
      .content_field
        = toc(@memo.content) 
        = markdown(@memo.content)
      .edit_destroy_btns
        .edit_btn
          = link_to "編集", edit_memo_path(@memo.id),method: :get
  -# ===================================
  -# ヒント
  -# ===================================
  .hint-box.none
    .cancel
      close
    .hint-inner
      .hint-title
        ●ヘッダー
      .hint-content
        %p
          ○[on]・・・出席したらoffボタンをクリックしてください。(あなたの投稿に「出席中」が明示されます。)
        %p
          ○[マイページ]・・・投稿中の掲示板や、過去の履歴が確認できます。
        %p
          ○[ランキング]・・・アウトプット回数のランキングを見ることができます。
        %p
          ○[エディット]・・・ユーザー情報の変更ができます。
        %p
          ○[ログアウト]・・・ログアウトします。
      .hint-title
        ●コンテンツ
        .hint-content
          %p
            ○[メモ]・・・あなただけのメモです。他人からは見えまえん。
          %p
            ○[編集]・・・メモを編集することができます。



