.header
  .fitO_box
    = link_to "" ,root_path
    .fitO
      fitO
    .fitO_sub
      = "-from input to Output-"
  - if user_signed_in?
    - if current_user.on_off == 0
      .swith.off
        = link_to "OFF", swich_users_path, method: :patch
    - else 
      .swith.on
        = link_to "ON", swich_users_path, method: :patch
    .header_btns
      .header_btn
        = link_to "ログアウト",destroy_user_session_path, method: :delete
      .header_btn
        = link_to "エディット",edit_user_registration_path
      .header_btn
        = current_user.name
      .header_btn
        = link_to "パスワード変更",user_password_path, method: :post
      .header_btn
        = link_to "マイページ",user_path(current_user.id), method: :get
  - else
    .header_btns
      .header_btn
        = link_to "ログイン", new_user_session_path
      .header_btn
        = link_to "サインアップ",new_user_registration_path
    