ヘッダー
- if user_signed_in?
  = link_to "ログアウト",destroy_user_session_path, method: :delete 
  = link_to "エディット",edit_user_registration_path 
  = current_user.name
  - if current_user.on_off == 0
    = link_to "オンにする", swich_users_path, method: :PATCH
  - else 
    = link_to "オフにする", swich_users_path, method: :patch 
  = link_to "パスワード変更",user_password_path, method: :post 

- else
  = link_to "ログイン", new_user_session_path
  = link_to "サインアップ",new_user_registration_path
  